
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: local;
    background-color: #33475C;
    color: white;
   
}
body {
    background-color: #DBF9FC;
}